<%- include ('_layouts/header1') %> 

<main class="l-main">
  
    <!--========== ABOUT ==========-->
    <section class="about section bd-container">
        <div class="containermax">
            <h1 class="section-subtitle about__initial" style="text-align: center;font-size: 250%;">About us</h1>
            <h5 class="section-title about__initial" style="text-align: center;">We sell the best and trendy Gadgets</h5>

            <p class="about__description">  
                Fidelity Gadgets Hub is a catalyst for Human to feel, see and claim their technological knowledge.
                We make Offices and Homes like a Technological Hub.
                At our core, Fidelity Gadgets Hub operates on imagination, individuality and impact.
                We offer our clients excellent quality services for many years, with the best in the city.
            </p> <br>

            <p class="about__description">March into a world of stunning hub and unique gadgets for your homes and offices; a world where the 
                hottest gadgets collide to create an unmatched selection of apparel and accessories. Step into Fidelity Gadgets!
                At Fidelity Gadgets, we have a passion for gadgets and are constantly searching to fill our 
                collection with a limited selection of unique pieces so that when you buy from Fidelity Gadgets, 
                you know your individual gadget will always stand out from the crowd.  
                We strive to inspire you with ideas to create your own home and offices with our Hub.
                Stop by our store to experience Fidelity Gadgets' Hub in person or browse our online website for both in-store 
                items and our extended collection. 
                From phones to laptops to the trendiest accessories, we are constantly replenishing our collection– 
                offering hub for every homes and offices – to keep items fresh and on the cutting edge of gadgets!
                Our Customer Service Operates 24 Hours of the working days.
            </p><br>
            


            <p class="center">Ready to Start Exploring our Platform?</p> <br>
            <a href="/products/" class="button">Explore Now</a>
        </div>
    </section>
    <br><br><br>
    <!--========== Contact ==========-->
    <section class="about section bd-container" id="contact-us">
        <div class="containermax">
                <h1 class="section-subtitle about__initial" style="text-align: center;font-size: 250%;">Contact us</h1> <br>
                <p>Our Address:</p>
                <p>17, Ola Ayeni Street, Computer Village, Ikeja, Lagos State.</p><br>
                <a href="tel:08162135402" class="button">Call</a> <br> <br>
                <div class="center">
        <a href="https://mobile.twitter.com/lukwencis?s=08">
            <span class="fa-stack fa-lg">
                <i class="fab fa-twitter"></i>
            </span>
        </a> &nbsp; &nbsp;
        <a href="https://www.instagram.com/fidelity_gadgets/">
            <span class="fa-stack fa-lg">
                <i class="fab fa-instagram"></i>
            </span>
        </a> &nbsp; &nbsp;
        <a href="http://wa.me/+2348162135402">
            <span class="fa-stack fa-lg">
                <i class="fab fa-whatsapp"></i>
            </span>
        </a> &nbsp; &nbsp;
        <a href="mailto:fidelitygadgets@gmail.com">
            <span class="fa-stack fa-lg">
                <i class="fas fa-envelope"></i>
            </span>
        </a> &nbsp; &nbsp;
        <a href="https://web.facebook.com/lukwencis">
            <span class="fa-stack fa-lg">
                <i class="fab fa-facebook"></i>
            </span>
        </a>
    </div>
            </div>
    </section>
  

</main>


<%- include ('_layouts/footer1') %> 