<%- include ('_layouts/header1') %> 

<br>
<main class="l-main">
   <!--========== SERVICES ==========-->
    <section class="services section bd-container" id="services">
        <!-- <span class="section-subtitle">Offering</span> -->
        <h2 class="section-subtitle about__initial center">Our amazing services</h2>

        <div class="services__container  bd-grid">
            <!-- <div class="services__content">
                <h3 class="services__title">Trendy Wears</h3>
                <p class="services__description">Fidelity Gadgets Hub is a catalyst for Human to feel, see and claim their technological knowledge.</p>
                <p class="services__description">We make Offices and Homes like a Technological Hub.</p>
                <p class="services__description">At our core, Fidelity Gadgets Hub operates on imagination, individuality, inclusivity and impact.</p>
            </div>

            <div class="services__content">
                <h3 class="services__title">Unique Hub</h3>
                <p class="services__description">We offer our clients excellent quality services for many years, with the best in the city.</p>
                <p class="services__description">Our Customer Service Operates 24 Hours of the working days.</p>
            </div> -->
            <div class="services__content">
                <h3 class="services__title">Customer Services</h3>
                <p class="services__description">We are dedicated to providing quick, excellent and professional customer services with no hiccups. The bulk of the services we offer allows us to form strong business relations with our customers, providing them with the reliable quality services they wouldn't get anywhere else.
                </p>
                <p class="services__description">We guarantee our customer the following:</p> <br>
                <ul>
                    <li>1.  Affordable Costs</li>
                    <li>2.  Personable and Result-Oriented Work</li>
                    <li>3.  Honest & Accurate Estimates</li>
                    <li>4.  Professional & Quality Repairs, etc.</li>
                </ul>
            </div>

            <div class="services__content">
                <h3 class="services__title">IT Services</h3>
                <p class="services__description">Our range of IT services includes, but are not restricted to:</p> <br>
                <ul>
                    <li>1. Desktop Repairs</li>
                    <li>2. Laptop Screen Repairs or Replacement</li>
                    <li>3. Computers & Laptop Set-Up</li>
                    <li>4. Virus Removals</li>
                    <li>5. Data Recovery</li>
                    <li>6. Troubleshooting</li>
                    <li>7. Software/Hardware Assistance, and loads more.</li>
                </ul>
            </div>

            <div class="services__content">
                <h3 class="services__title">Fast Delivery</h3>
                <p class="services__description">We have one of the best delivery option to follow. Ordered products are delivered in 1 or 2 days after Ordered</p>
                <p class="services__description">We deliver our ordered Products to anywhere across Nigeria.</p>
            </div>
        </div>
    </section>
    <br><br><br>
    <div class="containermax">
        <p>WE OFFER A FULL RANGE OF SERVICES IN:</p>
                <ul>
                    <li>1. Computer Sales</li>
                    <li>2. Mobile Phone Sales</li>
                    <li>3. Custom Build PC</li>
                    <li>4. Laptop Repair</li>
                    <li>5. Desktop Repair</li>
                    <li>6. Mobile Phone Repair</li>
                    <li>7. Tablet Repair</li>
                    <li>8. 3D Design & Logo</li>
                </ul>
    </div>
</main>

<br><br><br>

<%- include ('_layouts/footer1') %> 